---
title: Audiobitts
layout: default
---

<div class="hero">
	<div class="container">
		<div class="row">
			<div class="col col-left">
				<div class="app-icon"><img src="images/app-icon.png" alt="Audiobitts-App-Icon"></div>
				<div class="hero-text">
					{{ content }}
				</div>
				<div class="btn-wrapper">
					<a class="btn btn-download btn-download-app" href="https://goo.gl/lrkMjj">
						<i class="fa fa-apple"></i>
						<strong>Download App</strong>
						<span>from App Store</span>
					</a>
				</div>
			</div>
			<div class="col col-right">
				<div class="hero-image"><img src="images/iphone-7.png" alt="iPhone-7-images"></div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
	<div class="gradient"></div>
</div>
<!-- /.hero -->

<div class="features padtopmore padbottommore">
	<div class="container">
		<div class="row">
			<div class="col col-left">
				<div class="iphone-image">
					<img src="images/iphone-7-gold-mobile.png" alt="iPhone-7-image">
					<div class="video">
						<video autoplay loop src="images/audiobitts-flow.mp4"></video>
					</div>
					<div class="cover">
					</div>
				</div>
			</div>
			<div class="col col-right">
				<div class="features-text">
					{{ page.social }}
					<div class="row padtop padbottom">
						<div class="col inner col-left">
							<ul class="feature-items">
								<li class="feature-item">
									<div class="feature-item-icon record"></div>
									<div class="feature-item-text">
										{{ page.record }}
									</div>
								</li>
								<li class="feature-item">
									<div class="feature-item-icon play"></div>
									<div class="feature-item-text">
										{{ page.play }}
									</div>
								</li>
								<li class="feature-item">
									<div class="feature-item-icon like"></div>
									<div class="feature-item-text">
										{{ page.like }}
									</div>
								</li>
							</ul>
						</div>
						<div class="col inner col-right">
							<ul class="feature-items">
								<li class="feature-item">
									<div class="feature-item-icon share"></div>
									<div class="feature-item-text">
										{{ page.share }}
									</div>
								</li>
								<li class="feature-item">
									<div class="feature-item-icon comment"></div>
									<div class="feature-item-text">
										{{ page.comment }}
									</div>
								</li>
								<li class="feature-item">
									<div class="feature-item-icon explore"></div>
									<div class="feature-item-text">
										{{ page.explore }}
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="text-center padtop"><a class="btn btn-downloadnow" href="https://goo.gl/lrkMjj">Download Now</a></div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
<!-- /.features -->

<div class="benefits">
	<div class="row nomarg">
		<div class="col nopad col-left">
			<div class="img-wrap"><img src="images/audiobitts-drake.jpg" alt="Audiobitts-Drake"></div>
		</div>
		<div class="col nopad col-right content-center">
			<div class="share-more">
				{{ page.share_more }}
				<ul class="checkmarks">
					<li class="checkmark-item"><i class="fa fa-check"></i> &nbsp; {{ page.checkmark_1 }}</li>
					<li class="checkmark-item"><i class="fa fa-check"></i> &nbsp; {{ page.checkmark_2 }}</li>
					<li class="checkmark-item"><i class="fa fa-check"></i> &nbsp; {{ page.checkmark_3 }}</li>
					<li class="checkmark-item"><i class="fa fa-check"></i> &nbsp; {{ page.checkmark_4 }}</li>
					<li class="checkmark-item"><i class="fa fa-check"></i> &nbsp; {{ page.checkmark_5 }}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row nomarg">
		<div class="col nopad col-left content-center">
			<div class="example-benefits">
				<h3>{{ page.example_benefits }}</h3>
				<div class="tab-wrap" role="tabpanel">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#first" aria-controls="first" role="tab" data-toggle="tab" aria-expanded="true"><span class="icon icon-record"></span>Record</a>
						</li>
						<li role="presentation">
							<a href="#second" aria-controls="second" role="tab" data-toggle="tab" aria-expanded="false"><span class="icon icon-play"></span>Play</a>
						</li>
						<li role="presentation">
							<a href="#third" aria-controls="third" role="tab" data-toggle="tab"><span class="icon icon-share"></span>Share</a>
						</li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="first">
							<p>{{ page.tab_1 }}</p>
							<p><a class="link" href="https://goo.gl/lrkMjj">Download</a></p>
						</div>
						<div role="tabpanel" class="tab-pane" id="second">
							<p>{{ page.tab_2 }}</p>
							<p><a class="link" href="https://goo.gl/lrkMjj">Download</a></p>
						</div>
						<div role="tabpanel" class="tab-pane" id="third">
							<p>{{ page.tab_3 }}</p>
							<p><a class="link" href="https://goo.gl/lrkMjj">Download</a></p>
						</div>
					</div><!-- /.tab-content -->
				</div><!-- /.tab-wrap -->
			</div>
		</div>
		<div class="col nopad col-right">
			<div class="img-wrap quote-image"><img src="images/quote.jpg" align="Quote-images"></div>
			<div class="quote">
				{{ page.quote }}
				</h3>
			</div>
		</div>
	</div><!-- /.row -->
</div>
<!-- /.benefits -->

<div class="cta">
	<div class="cta-overlay">
		<div class="cta-text">
			{{ page.cta }}
			<div><a class="btn btn-download" href="https://goo.gl/lrkMjj">Download Now</a></div>
		</div>
	</div>
</div>
<!-- /.cta -->

<div class="screenshots padtopmore padbottommore">
	<div class="container">
		<div class="screenshot-text">
			{{ page.screenshots }}
		</div>
		<div class="carousel">
			<div><a data-fancybox="gallery" href="images/slide-menu.jpg"><img src="images/slide-menu.jpg" alt="Slide-Menu"></a></div>
			<div><a data-fancybox="gallery" href="images/notifications.jpg"><img src="images/notifications.jpg" alt="Notifications"></a></div>
			<div><a data-fancybox="gallery" href="images/home-scrolled-up-with-player.jpg"><img src="images/home-scrolled-up-with-player.jpg" alt="Home-Scrolled-Up-With-Player"></a></div>
			<div><a data-fancybox="gallery" href="images/followers-and-following.jpg"><img src="images/followers-and-following.jpg" alt="Followers-Following"></a></div>
			<div><a data-fancybox="gallery" href="images/cover-selected.jpg"><img src="images/cover-selected.jpg" alt="Cover-Selected"></a></div>
			<div><a data-fancybox="gallery" href="images/your-own-profile.jpg"><img src="images/your-own-profile.jpg" alt="Your-Own-Profile"></a></div>
			<div><a data-fancybox="gallery" href="images/home-registered.jpg"><img src="images/home-registered.jpg" alt="Home-Registered"></a></div>
			<div><a data-fancybox="gallery" href="images/splash.jpg"><img src="images/splash.jpg" alt="Followers-Splash"></a></div>
		</div>
		</div><!-- /.container -->
</div>
<!-- /.screenshots -->
